:root {
    --pastel-pink: #FADADD; /* Rosa Pastel clássico e suave */
    --misty-rose: #E8C8D8;  /* Rosa que você já utiliza como destaque */
    --tragic-wine: #4B1E2F; /* Cor do texto e detalhes profundos */
    --lunar-white: #FCFBFB; /* Branco quase puro para clareza */
}

body {
    background-color: var(--lunar-white);
    color: var(--tragic-wine);
    font-family: 'Lora', serif;
}

.hero {
    height: 60vh;
    background-color: var(--pastel-pink); /* Agora com o Rosa Pastel */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--misty-rose);
}

.section-title {
    color: var(--tragic-wine);
    border-bottom: 2px solid var(--pastel-pink);
    display: inline-block;
    padding-bottom: 10px;
}
